<h1>New Blog</h1>

<form action=/update method="POST">
  <p>
    Title<input type="text" name="title"/>
  </p>
  <p>
    User<input type="text" name="author"/>
  </p>
  <p>
    Content<textarea name="body" rows="10" cols="40">投稿内容</textarea>
  </p>
  <input type="submit" value="publish!"/>
</form>
